@model ProductDetailsModel
@inject CatalogSettings catalogSettings
@if (Model.ProductType == ProductType.Auction)
{
    <div class="form-group mb-0">
        @if (Model.EndTime.HasValue)
        {
            <div class="d-flex flex-column">
                <label class="product-label">@T("ShoppingCart.Auctionends"):</label>
                <div class="avibility-time">
                    @if (Model.EndTime > DateTime.UtcNow)
                    {
                        <div class="countdown-container">
                            <div class="time-holder">
                                <div class="countdown days" data-countdown="@Model.EndTime.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm")"></div>
                                <div class="title">@T("countdown.days")</div>
                            </div>
                            <div class="time-holder">
                                <div class="countdown hours" data-countdown="@Model.EndTime.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm")"></div>
                                <div class="title">@T("countdown.hours")</div>
                            </div>
                            <div class="time-holder">
                                <div class="countdown minutes" data-countdown="@Model.EndTime.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm")"></div>
                                <div class="title">@T("countdown.minutes")</div>
                            </div>
                            <div class="time-holder">
                                <div class="countdown seconds" data-countdown="@Model.EndTime.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm")"></div>
                                <div class="title">@T("countdown.seconds")</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <label>@Model.EndTime.Value.ToLocalTime()</label>
                    }
                </div>
            </div>
        }
        @if (Model.EndTime > DateTime.UtcNow)
        {
            <div class="d-flex flex-column mt-sm-0 mt-3">
                <label class="product-label mb-3">@T("shoppingcart.your.offer")</label>
                <div class="btn-group align-items-end auction-buttons">
                    <input asp-for="HighestBidValue" type="text" class="auction-input form-control mb-0" value="@(Model.HighestBidValue > 0 ? (Model.HighestBidValue + 1).ToString(System.Globalization.CultureInfo.InvariantCulture) : (Model.StartPrice + 1).ToString(System.Globalization.CultureInfo.InvariantCulture))" />
                    <button type="button" id="bid-button-@Model.Id" class="btn btn-primary add-to-cart-button bid-button" data-productid="@Model.Id" onclick="AjaxCart.addbid('@Url.RouteUrl("AddBid", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Auctions })', '#product-details-form');return false;">
                        <span class="linearicons-hammer2 lnr mr-1"></span> <span>@T("ShoppingCart.Bid")</span>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="separator"></div>
}