@model NewsItemListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="page news-list-page pt-3">
    <a class="js-offcanvas-trigger filter-button" data-offcanvas-trigger="leftSide" href="#leftSide">
        <span class="filter-menu-item">
            <span class="medium-line filter-line"></span>
            <span class="short-line filter-line"></span>
            <span class="long-line filter-line"></span>
        </span>
        <span class="filter-name">@T("News") @T("catalog.selectors.fiters")</span>
    </a>
    <h2 class="h2 generalTitle text-center my-3"><a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="btn btn-sm btn-outline-info link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a> @T("News")</h2>
    @await Component.InvokeAsync("Widget", new { widgetZone = "newslist_page_before_items"})

    <div class="news-items row">
        @foreach (var item in Model.NewsItems)
        {
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <div class="card mb-3">
                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                        @if (!string.IsNullOrEmpty(item.PictureModel.ImageUrl))
                        {
                            <div class="img-container">
                                <img class="card-img-top img-fluid rounded-0" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                            </div>
                        }
                        <h4 class="card-header pl-0 border-bottom-0 pb-3">@item.Title</h4>
                    </a>
                    <div class="card-body pt-0 px-0">
                        @if (!string.IsNullOrEmpty(item.PictureModel.ImageUrl))
                        {
                            <div class="post-date">
                                <span class="day">@item.CreatedOn.ToString("dd")</span>
                                <span class="month">@item.CreatedOn.ToString("MMM")</span>
                            </div>
                        }
                        else
                        {
                            <h6 class="mt-0 text-muted d-flex align-items-center"><span class="lnr linearicons-alarm2 mr-2"></span>@item.CreatedOn.ToString("D")</h6>
                        }
                        @Html.Raw(item.Short)
                        <div class="buttons pt-3 text-center">
                            <a class="btn btn-sm btn-outline-secondary read-more" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo")</a>
                        </div>
                        @await Component.InvokeAsync("Widget", new { widgetZone = "newslist_page_inside_item", additionalData = item.Id })
                    </div>
                </div>
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "newslist_page_after_items" })
    </div>

</div>