@model CatalogPagingFilteringModel

<div class="generalMarginSupporter catalog-selectors">   
    <div class="d-flex justify-content-between align-items-center flex-row row px-3">
        <a class="js-offcanvas-trigger filter-button" data-offcanvas-trigger="leftSide" href="#leftSide">
            <span class="filter-menu-item">
                <span class="medium-line filter-line"></span>
                <span class="short-line filter-line"></span>
                <span class="long-line filter-line"></span>
            </span>
            <span class="filter-name">@T("catalog.selectors.fiters")</span>
        </a>
        @*sorting*@
        @if (Model.AllowProductSorting)
        {
            <div class="sort-container">
                <label class="mb-0" for="custom-select">@T("Catalog.OrderBy")</label>
                <div class="selectdiv ml-4">
                    @Html.DropDownList("custom-select", Model.AvailableSortOptions, new { @class = "form-control custom-select", onchange = "setLocation(this.value);" })
                </div>
            </div>
        }
        <div class="d-flex align-items-center" id="items_statistics">
            <div class="items-page-size d-none">@Model.PageSize</div>
            <div class="items-per-page d-lg-inline-flex"><span>@T("catalog.selectors.items")</span><span class="number"></span></div>
            <div class="items-separator">@T("catalog.selectors.of")</div>
            <div class="items-total">@Model.TotalItems</div>
        </div>
        @*page size*@
        @if (Model.AllowCustomersToSelectPageSize)
        {
            <div class="sort-container">
                <label class="mb-0" for="custom-select">@T("Catalog.PageSize")</label>
                <div class="selectdiv ml-4">
                    @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { @class = "custom-select form-control", onchange = "setLocation(this.value);" })
                </div>
            </div>
        }
        @*view mode*@
        @if (Model.AllowProductViewModeChanging)
        {

            <div class="sort-container ml-5 d-lg-inline-flex d-none">
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];
                    @*<label class="mb-0">@T("Catalog.ViewMode")</label>*@
                    @*<a class="viewmode-icon grid mr-3 @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">
                         <span class="lnr linearicons-grid"></span>
                         <span class="sr-only">viewmode grid</span>
                    </a>*@
                    <a class="viewmode-icon list d-lg-flex d-none mr-3 @if (listMode.Selected){<text>selected</text>}" onclick="removeCookie(this)" href="@listMode.Value" data-toggle="tooltip" data-placement="top" title="@listMode.Text">
                        <svg version="1.1" id="list-view"  x="0px" y="0px" width="18" height="18" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                            <rect width="18" height="2"></rect>
                            <rect y="16" width="18" height="2"></rect>
                            <rect y="8" width="18" height="2"></rect>
                        </svg>
                    </a>
                    <a class="viewmode-icon grid d-lg-flex d-none mr-3" data-columns="col-4" onclick="changeGrid(this)" href="@gridMode.Value" data-toggle="tooltip" data-placement="top" title="@T("grid.columns.3")">
                        <svg version="1.1" id="Layer_1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
                            <rect width="5" height="5"></rect>
                            <rect x="7" width="5" height="5"></rect>
                            <rect x="14" width="5" height="5"></rect>
                            <rect y="7" width="5" height="5"></rect>
                            <rect x="7" y="7" width="5" height="5"></rect>
                            <rect x="14" y="7" width="5" height="5"></rect>
                            <rect y="14" width="5" height="5"></rect>
                            <rect x="7" y="14" width="5" height="5"></rect>
                            <rect x="14" y="14" width="5" height="5"></rect>
                        </svg>
                    </a>
                    <a class="viewmode-icon grid d-lg-flex d-none mr-3" data-columns="col-3" onclick="changeGrid(this)" href="@gridMode.Value" data-toggle="tooltip" data-placement="top" title="@T("grid.columns.4")">
                        <svg version="1.1" id="Layer_2" x="0px" y="0px" width="28px" height="19px" viewBox="0 0 28 19" enable-background="new 0 0 28 19" xml:space="preserve">
                            <rect width="5" height="5"></rect>
                            <rect x="7" width="5" height="5"></rect>
                            <rect x="14" width="5" height="5"></rect>
                            <rect x="21" width="5" height="5"></rect>
                            <rect y="7" width="5" height="5"></rect>
                            <rect x="7" y="7" width="5" height="5"></rect>
                            <rect x="14" y="7" width="5" height="5"></rect>
                            <rect x="21" y="7" width="5" height="5"></rect>
                            <rect y="14" width="5" height="5"></rect>
                            <rect x="7" y="14" width="5" height="5"></rect>
                            <rect x="14" y="14" width="5" height="5"></rect>
                            <rect x="21" y="14" width="5" height="5"></rect>
                         </svg>
                    </a>
                    <a class="viewmode-icon grid d-lg-flex d-none mr-3" data-columns="col-for-5" onclick="changeGrid(this)" href="@gridMode.Value" data-toggle="tooltip" data-placement="top" title="@T("grid.columns.5")">
                        <svg version="1.1" id="Layer_3" x="0px" y="0px" width="34px" height="19px" viewBox="0 0 34 19" enable-background="new 0 0 34 19" xml:space="preserve">
                            <rect width="5" height="5"></rect>
                            <rect x="7" width="5" height="5"></rect>
                            <rect x="14" width="5" height="5"></rect>
                            <rect x="21" width="5" height="5"></rect>
                            <rect x="28" width="5" height="5"></rect>
                            <rect y="7" width="5" height="5"></rect>
                            <rect x="7" y="7" width="5" height="5"></rect>
                            <rect x="14" y="7" width="5" height="5"></rect>
                            <rect x="21" y="7" width="5" height="5"></rect>
                            <rect x="28" y="7" width="5" height="5"></rect>
                            <rect y="14" width="5" height="5"></rect>
                            <rect x="7" y="14" width="5" height="5"></rect>
                            <rect x="14" y="14" width="5" height="5"></rect>
                            <rect x="21" y="14" width="5" height="5"></rect>
                            <rect x="28" y="14" width="5" height="5"></rect>
                         </svg>
                    </a>
                    <a class="viewmode-icon grid d-xl-flex d-none" data-columns="col-2" onclick="changeGrid(this)" href="@gridMode.Value" data-toggle="tooltip" data-placement="top" title="@T("grid.columns.6")">
                        <svg version="1.1" id="Layer_4" x="0px" y="0px" width="40px" height="19px" viewBox="0 0 40 19" enable-background="new 0 0 40 19" xml:space="preserve">
                            <rect width="5" height="5"></rect>
                            <rect x="7" width="5" height="5"></rect>
                            <rect x="14" width="5" height="5"></rect>
                            <rect x="21" width="5" height="5"></rect>
                            <rect x="28" width="5" height="5"></rect>
                            <rect x="35" width="5" height="5"></rect>
                            <rect y="7" width="5" height="5"></rect>
                            <rect x="7" y="7" width="5" height="5"></rect>
                            <rect x="14" y="7" width="5" height="5"></rect>
                            <rect x="21" y="7" width="5" height="5"></rect>
                            <rect x="28" y="7" width="5" height="5"></rect>
                            <rect x="35" y="7" width="5" height="5"></rect>
                            <rect y="14" width="5" height="5"></rect>
                            <rect x="7" y="14" width="5" height="5"></rect>
                            <rect x="14" y="14" width="5" height="5"></rect>
                            <rect x="21" y="14" width="5" height="5"></rect>
                            <rect x="28" y="14" width="5" height="5"></rect>
                            <rect x="35" y="14" width="5" height="5"></rect>
                         </svg>
                    </a>
                }
            </div>
        }
    </div>
</div>