@model CatalogPagingFilteringModel.PriceRangeFilterModel
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}

@functions {
public string FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
{
    string rangeText = "";
    if (String.IsNullOrWhiteSpace(filterItem.From))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.To));
    }
    else if (String.IsNullOrWhiteSpace(filterItem.To))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.From));
    }
    else
    {
        rangeText = string.Format("<span class=\"PriceRange\">{0}</span> - <span class=\"PriceRange\">{1}</span>", filterItem.From, filterItem.To);
    }
    return rangeText;
}
}
@if (Model.Enabled)
{
    if (selectedItem == null)
    {
        <div id="block-product-price-filter" class="block product-filter product-price-filter">
            <h5 class="h5">
                <span>@T("Filtering.PriceRangeFilter")</span>
            </h5>
            <div class="viewBox">
                @foreach (var item in Model.Items)
                {
                    <label class="custom-control custom-radio mb-2">
                        <input type="radio" id="id_price" name="id_price" onclick="window.location.replace($(this).data('href'));" class="custom-control-input" data-href="@item.FilterUrl">
                        <span class="custom-control-label" for="id_price"></span>
                        <span class="custom-control-description" for="id_price">@Html.Raw(FormatPriceRangeText(item))</span>
                    </label>
                }
            </div>
        </div>

    }
    else
    {

        <div id="block-product-price-filter" class="block product-filter product-price-filter">
            <h2 class="generalTitle h5">
                <strong>@T("Filtering.PriceRangeFilter")</strong>
            </h2>
            <div class="viewbox">
                @foreach (var item in Model.Items)
                {
                    <label class="custom-control custom-radio mb-2">
                        <input type="radio" id="id_price" data-href="@item.FilterUrl" name="id_price" onclick="window.location.replace($(this).data('href'));" class="custom-control-input" @if ((FormatPriceRangeText(item)) == (FormatPriceRangeText(selectedItem))) { <text> checked</text> }>
                        <span class="custom-control-label" for="id_price"></span>
                        <span class="custom-control-description" for="id_price">@Html.Raw(FormatPriceRangeText(item))</span>
                    </label>
                }
                <div class="remove-filter mb-1">
                    <a class="btn btn-outline-secondary btn-sm" href="@Model.RemoveFilterUrl">@T("Filtering.PriceRangeFilter.Remove")</a>
                </div>
            </div>
        </div>
    }
}