@model AdminHeaderLinksModel
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    @if (Model.IsCustomerImpersonated)
    {
            <a class="finish-impersonation dropdown-item" href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
                <span class="lnr linearicons-face-detection">
                </span>
                <span class="impersonated-text">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)</span>
            </a>
    }
    @if (Model.DisplayAdminLink)
    {
            <a class="dropdown-item" href="@Url.Content("~/Admin")">
                <span class="lnr linearicons-cog2">
                </span>
                <span>@T("admin")</span>
            </a>
    }
    @if (!string.IsNullOrEmpty(Model.EditPageUrl))
    {
            <a target="_blank" class="edit-page dropdown-item" href="@Model.EditPageUrl">
                    <span class="lnr linearicons-hammer-wrench">
                    </span>
                <span>@T("edit")</span>
            </a>
    }
}