@model IList<CategoryModel>
                <div class="col-12 home-page-categories">
                    <div class="swiper-container HomeCat">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model)
                            {
                                <div class="swiper-slide cat-img-container">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                    </a>
                                    <div class="name">
                                        @item.Name
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
